<section class="section">
  <div class="container">
    <div class="columns">
<<<<<<< HEAD
      <% if user_signed_in? %>
        <%= render 'profile' %>
      <% else %>
        <%= render 'trends' %>
      <% end %>
     
        <%= render 'feed' %>
        <%= render 'who-to-follow' %>
=======
      <%= render 'trends' %>
      <%= render 'feed' %>
      <%= render 'who-to-follow' %>
>>>>>>> b5167da817288517e34d64aed3e68aaf3adc52e3
    </div>

  </div>
</section>


